[access]
	inheritFrom = All-Projects
[project]
	description = KUBEDGE Utils Charts, Dockerfile and Kubernetes deployment
[access "refs/*"]
	owner = group user/Jerome Brette (jbrette)
[access "refs/for/refs/*"]
	read = group user/Jerome Brette (jbrette)
	push = group user/Jerome Brette (jbrette)
	label-Code-Review = -2..+2 group user/Jerome Brette (jbrette)
	label-Verified = -1..+1 group user/Jerome Brette (jbrette)
	rebase = group user/Jerome Brette (jbrette)
	removeReviewer = group user/Jerome Brette (jbrette)
	submit = group user/Jerome Brette (jbrette)
[access "refs/heads/*"]
	read = group user/Jerome Brette (jbrette)
	create = group user/Jerome Brette (jbrette)
	push = +force group user/Jerome Brette (jbrette)
	pushMerge = group user/Jerome Brette (jbrette)
[access "refs/tags/*"]
	push = group user/Jerome Brette (jbrette)
	push = +force group user/Jerome Brette (jbrette)
